/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 */

 body{overflow: hidden;}

 
main {
    width: 100%;
    height: 100vh;
    user-select: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, ;
    /* background-image: url('https://img.freepik.com/free-vector/abstract-yellow-orange-watercolor-texture-background_1017-17542.jpg?w=740&t=st=1690862332~exp=1690862932~hmac=45ba50154bdd3219f52a1a11c4cc1df9d591a69bee8ca34492aa591f44eac17a'); */
 }


 .sidebar {
    width: 250px;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    background-color: #cccaca;
    
 }
 
 .resizer {
    width: 10px;
    top: 0;
    right: 0;
    cursor: col-resize;
    height: 100%;
    position: absolute;
    background-color: #8a0505;
 }
 
.header {
    padding: 15px 20px;
    background-color: #fff;

 }

 .header h3 {
    color: #2e2e9b;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 


 .header h3, ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 .sidebar> ul {
   list-style: none;
   padding-inline-start: 20px;
   padding-top: 1em;
   padding-inline-end: 20px;
}

.sidebar > ul > li {
   cursor: pointer;
   
}

ul > li.active-li {
   background-color: #075298;
   z-index: 1000;
   
}

.sidebar > ul > li:hover {
   background-color: #fffbfb;
   color: #8a0505;
}

.cr-note{ 
   padding: 10px;
   font-size: 0.8em;
   text-align: left;
   color: #f5f2f9;
   background-color: rgb(155, 7, 71);
   }

.sidebar >a {
   margin-left: 20px;
   margin-right: 20px;
   box-sizing: border-box;
}

.search-bar>form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: stretch;
   padding: 10px 20px;


}

.search-bar>form>input{
   padding:8px 10px;
   margin: 5px 0px;
   border: 0px solid white;
   border-radius: 5px;
   outline: none;

}

#search-word{
   font-size: 0.8em;
   
}

#search-result-notf{
   margin: 0;
   padding: 0;
   margin-left: 20px;
   display: none;
}

#no-result-found{
   margin: 0;
   padding: 0;
   margin-left: 20px;
   display: none;
}

.dispEl-div{
   overflow: auto;
   flex: 1;
   padding: 20px;
   padding-bottom: 15vh;
}  

#dispEl{

   overflow: auto;
   
}

.snote{
   padding: 10px;
   font-size: 0.8em;
   width: 100%;
   text-align: left;
   color: #fffdfa;
   background-color: rgb(154, 88, 12);
}

#sbToggle{
   display: none;
}

.sb-icon {
   display: none;
}

.button-container{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   background-color: #ffeeee;
}

.button-container>a{
   padding: 5px 30px;
   font-size: 0.9em;
   color: #ffffff;
   margin-left: 20px;
   font-weight: bold;

}
.button-container>span{
   padding: 5px 30px;
   font-size: 1.2em;
   color: #8f0f0f;
   margin-left: 5vw;

}

.button-container>span>label{
   font-size: 18px;
}

.modal{
   display: none;
}

*.modal-header{
   background-color: #444;
   color: rgb(255, 255, 255);
}

*.modal-header > span{
   background-color: #ffffff;
   color: rgb(255, 255, 255);
}

@media all and (max-width: 600px) {
   #sbToggle{
      display: block;
   }

   .sb-icon {
      position: fixed;
      top: 50%;
      left: 0;
      padding: 10px;
      cursor: pointer;
      display: flex;
      transform: translateY(-50%);
      background-color: #444;
      padding: 20px 8px;
}

   
   div.sb-cover{
      width: 90%;
   }

   .sb-cover{
      display: none;
   }

   .sidebar{
      width: 100%;
   }

   .resizer{
      width: 3px;
   }
}