* {  box-sizing: border-box; }
html, body { overflow-x: hidden; }
body { 
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: #333;
    color: #999;
    margin: 0;
    min-height: 100vh;
}

main{min-height: 100vh;}

a { color: #fff7f7; text-decoration: none; }
a:hover {  color: #9C9; }

.tm-text-title { color: #eae180; text-decoration: none;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;max-width: 200px;}
.tm-text-title:hover {  color: #9C9; text-decoration: none; }

.container{
    margin-top: 80px;
}

/* Navbar*/

.navbar-toggler { display: none; }

.tm-nav {
    position: fixed;
    top: 0;
    left: -1px;
    width: 100%;
    z-index: 1000;
}

nav-600{
    display: none;
}

.nav-item { list-style: none; }
.tm-nav ul {
    background-color: #444;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#logo{
    height: 60px;
    width: 100px;
}

#logo-600{
    display: none;
}


.nav-link {
    color: #c8c4c4;
    display: block;
    font-size: 20px;
}

.nav-link:hover,
.nav-link.current {
    color: #99CC99;
}



/* Section*/

.tm-section { display: flex; margin: 0; padding: 0;}

.tm-section-col {
    flex: 0 0 50%;
    width: 50%;
}

.tm-content {
    padding: 100px 60px 70px 100px;
    box-sizing: border-box;
    
}


.tm-media {
    display: flex;
    align-items: flex-start;
    
}

.tm-media img {
    width: 200px;
    height: 200px;
}

.sh-tutorials{
    margin-top: 10vh;
}


.tm-media-body {  padding-left: 30px; 
    width: 100%;    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;}
    

.tm-media-span {
    margin-bottom: 15px;
    /* display: block;
    text-align: right; */
    display: flex;
    justify-content: space-between;
}

.tm-text-left {
    float: left;
}

.tm-text-right {
    float: right;
}

.tm-parallax { min-height: 70px; }

#contact .tm-parallax {
    margin-bottom: 300px;
}




/* Shared Notes */


#iframe-container {
    border: 1px solid #ccc;
    margin: 10px;
    width: 100%;
    height: 150px;
    background-color: #fff;
    margin-left: 0;
    border-radius: 5px;
    position: relative;
    
}


#iframe-content{
    width: 100%;
    height: 100%;
    padding: 0;
}

#iframe-href{
    position:absolute; 
    top:0; left:0; 
    display:inline-block;
    width:100%; height:150px; 
}

p.tut-descr{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}


.tm-text-small { font-size: 0.9em; }
.tm-text-center { text-align: center; }
.tm-text-right { text-align: right; }
.tm-text-primary { color: #99CC99; }
.tm-text-secondary { color: #9999CC; }
.tm-text-link { color: #999; }
.tm-text-link:hover { color: #99CC99; }
.tm-relative { position: relative; }


/* Registration form */
.registration-form {
    position: fixed;
    bottom: 200px;
    right: 150px;
    width: 400px;
    height: 400px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #333;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

form{
    width: 100%;
    padding: 10px;
}

footer {
    position: relative; /* Relative positioning */
    bottom: 0; /* Place at the bottom of its containing element (body-content) */
    width: 100%;
    background-color: #444;
    text-align: center;
    color: white;
}

.form-section {
    margin: 5px 5px;

}
form > input{
    margin: 5px 0;
     
}

@media (max-width: 1200px) {

    /* .tm-nav ul {
        position: relative;
        left: -280px;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;        
        width: 280px;
        transition: all 0.5s ease;
    }

    .tm-nav ul.show { left: 0; }

    .nav-link {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-toggler {
        display: block;
        width: 50px;
        height: 45px;
        font-size: 1.2rem;
        background-color: #444444;
        border: none;
        color: #999999;
        outline: none;
    }

    .navbar-toggler:hover { color: #99CC99; } */ */

    .registration-form {
        position: fixed;
        bottom: 200px;
        right: 100px;
    }
    

    .tm-content {
        padding: 100px 60px 70px 60px;
        box-sizing: border-box;
    }

    .tm-copyright { margin-left: 15px; }
}


@media (max-width: 1150px) {

    .registration-form {
        position: fixed;
        bottom: 200px;
        right: 80px;
        width: 400px;
        height: 400px;

    }

    .tm-content {
        padding: 100px 40px 70px 40px;
        box-sizing: border-box;
    }


}


@media (max-width: 1100px) {
    .tm-nav { width: 100%; }
    /* .tm-nav ul {
        position: relative;
        left: -280px;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;        
        width: 280px;
        transition: all 0.5s ease;
    }

    .tm-nav ul.show { left: 0; }

    .nav-link {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-toggler {
        display: block;
        width: 50px;
        height: 45px;
        font-size: 1.2rem;
        background-color: #444444;
        border: none;
        color: #999999;
        outline: none;
    }

    .navbar-toggler:hover { color: #99CC99; }

    .tm-content {
        padding-left: 20px;
        padding-right: 20px;
        padding: 50px 20px;
    } */

    .tm-copyright { margin-left: 15px; }

    .registration-form {
        position: fixed;
        bottom: 200px;
        right: 40px;
        width: 400px;
        height: 400px;
        margin-top: 0;
        margin-bottom: 0;
        background-color: #333;
        color: #999999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 15px;
    }


}


@media (max-width: 992px) {
    .tm-nav ul {
        position: relative;}
        
    .registration-form { 
        position: static;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }

    .tm-gallery figure { width: 33.33%; }

    figcaption h2 { font-size: 1.4rem; }

    .tm-section { flex-direction: column-reverse; }

    .tm-section-col {
        flex: 0 0 100%;
        width: 100%;
    }

    .tm-parallax { min-height: 360px; }

    #contact .tm-parallax {
        margin-bottom: 425px;
    }
    
    .mapouter {
        top: 360px;
        width: 100%;
    }

    .gmap-canvas { width: 100%; }

    .tm-copyright {
        margin-bottom: 0;
        padding: 30px;
    }


}

@media (max-width: 600px) {
    .container{
        margin-top: 40px;
    }
    
    
.tm-media-body {  padding-left: 0px; 
}
    
    #logo-600{
        height: 60px;
        width: 100px;
        display: inline;
        margin-right: 1em;
    }
    
    
    .nav-600 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #444;
        z-index: 500;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .tm-nav { width: 0; }
    .tm-nav ul {
        position: relative;
        left: -280px;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;        
        width: 280px;
        transition: all 0.5s ease;
    }
    

    .tm-nav ul.show { left: 0; }

    .nav-link {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .tm-content {
        padding-left: 20px;
        padding-right: 20px;
        padding: 50px 20px;
    }


    .tm-col {
        flex: 0 0 100%;
        width: 100%;
    }

    .tm-media img {
        width: 150px;
        height: 150px;
    }


    .navbar-toggler {
        display: block;
        width: 50px;
        height: 45px;
        font-size: 1.2rem;
        background-color: #444444;
        border: none;
        color: #999999;
        outline: none;
    }
    
    .navbar-toggler:hover { color: #99CC99; }
}

@media (max-width: 560px) {
    .tm-sm-mt-30 { margin-top: 30px; }
}

@media (max-width: 516px) {
    .tm-gallery { display: block; }

    .tm-gallery figure {
        float: left;
        width: 45%;
        margin: 2.5%;
        min-width: 1px;
    }

    figure h2 { font-size: 1rem; }
}

@media (max-width: 420px) {
    .tm-media img {
        width: 100px;
        height: 100px;
    }
}





