body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5bOgh6hX9uZFGt69YB02LQE5OQ5KGwby2-w&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}