#Django frame work
pip install django

#ck-editor text editor
pip install django-ckeditor

#crispy forms
pip install django-crispy-forms
pip install crispy-bootstrap5

#all auth for google sign in.
pip install django-allauth