<footer class="text-center text-lg-start text-white footer navbar-fixed-bottom my_footer" style="background-color: #444;bottom: 0;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-1 container">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected : irfanpa005@gmail.com</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=irfanpa005@gmail.com" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/irfanali_pa/" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/ahammed-irfan-ali/" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/irfanpa005" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->