{% extends 'indexbase.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

{% block body %}
    <main>
        <div id="left-col" class="tm-section">
            <!-- Shared notes left -->
            <div class="tm-section-col tm-content">
                <div class="video-player">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-r6kFiN0X8M?si=2BoPXIq9DyGl1H0N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <h3 class="tm-media-body">Shared Notes</h3>
                {% for note in notes %}
                <div class="tm-media">
                    <div class="tm-media-body">
                        <h5><a href="{% url 'userApp:viewNote' note.pk %}" class="tm-text-title">{{note.title}}</a></h5>
                        <div id="iframe-container">
                            <iframe id="iframe-content" frameborder="0" srcdoc="{{note.content}}" style="padding: 0;"></iframe>
                            <a id="iframe-href" href="{% url 'userApp:viewNote' note.pk %}"></a>
                        </div>
                        <div class="tm-text-secondary tm-media-span tm-text-small">
                            <span class="tm-text-left">Created By: {{ note.noteowner }}</span>
                            <span class="tm-text-right">{{ note.created_at }}</span>
                        </div>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>
                {% endfor %}

              <!-- paginator for shared noted -->  
              {% if notes.has_next %}
                <div class="tm-text-right">
                    <a href="?page={{ notes.next_page_number }}" class="tm-btn tm-btn-next">Next</a>
                </div>
              {% endif %}
              {% if notes.has_previous %}
              <div class="tm-text-left">
                  <a href="?page={{ notes.previous_page_number }}" class="tm-btn tm-btn-next">Previous</a>
              </div>
            {% endif %}
              <!-- paginator end --> 

            <!-- Shared notes End -->

            <!-- Shared tutorials left -->
            <h3 class="tm-media-body sh-tutorials">Shared Tutorials</h3>
                {% for tutorial in tutorials %}
                <div class="tm-media">
                    <div class="tm-media-body">
                        <h5><a href="#" class="tm-text-title">{{tutorial.title}}</a></h5>
                        <p class="tm-text-small tut-descr">{{tutorial.short_descr}}</p>
                        

                        {% comment %} <div id="iframe-container">
                            <iframe id="content-iframe" src="{{tutorial.link}}" frameborder="0"  style="padding: 0;"></iframe>
                        </div> {% endcomment %}

                        <div class="content-iframe">
                            <a href="{{tutorial.link}}">{{tutorial.link}}</a>
                        </div>

                        <div class="tm-text-secondary tm-media-span tm-text-small">
                            <span class="tm-text-left">Created By: {{ tutorial.tutorial_owner }}</span>
                            <span class="tm-text-right">{{ tutorial.created_at }}</span>
                        </div>
                        
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>
                {% endfor %}
                <!-- paginator for shared tutorials --> 
              {% if tutorials.has_next %}
                <div class="tm-text-right">
                    <a href="?page={{ tutorials.next_page_number }}" class="tm-btn tm-btn-next">Next</a>
                </div>
              {% endif %}
              {% if notes.has_previous %}
              <div class="tm-text-left">
                  <a href="?page={{ tutorials.previous_page_number }}" class="tm-btn tm-btn-next">Previous</a>
              </div>
            {% endif %}
              <!-- paginator end --> 
            <!-- Shared tutorials end -->
            </div>


            <!-- BG,Reigister right -->
            <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="{% static 'images/bg-03.jpg' %}">
            </div>
                <div class="registration-form">
                   
                    <h2>Login</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Sign In">
                    </form>
                    {% for message in messages %}
                        <div class="text-white"><small>{{ message }}</small></div>
                    {% endfor %}
                    Do not have an account?<a href="{% url 'userApp:index' %}">Register Here.</a>
                </div>
        </div> <!-- BG,Reigister End -->
    </main>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/togglebar-index.js' %}"></script>
    <footer>
        {% block page_scripts %}

        {% endblock %}
    </footer> 
{% endblock %}