{% extends 'userbase.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/notes.css' %}">
{% endblock %}

{% block body %}
<main>
    <div class="sb-cover">
        <div class="sidebar" id="sdb">
            <div class="resizer"></div>
            <div class="header">
                <h3 onClick="viewNote({{note.id}})">Notes</h3>
            </div>
            <div class="search-bar">
                <form action="{% url 'notes:userNoteSearch' %}" id="searchform" method="POST">
                    {% csrf_token %}
                    <input type="text" id="search-word" name="search_keyword" required>
                    <input type="submit" class="btn btn-primary" id="search-btn" value="Search">
                </form>
            </div>
            <a href="{% url 'notes:create_note' %}" class="cr-note badge" id="createNote">Create a new note</a>
            <p id="search-result-notf" class="small"></p>
            <p id="no-result-found" class="small"></p>
            <ul id="noteDisplUl">
                {% for note in notes %}
                    <li data-object-id="{{note.pk}}" class="snote badge">{{ note.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="dispEl-div">
        <p id="dispEl"></p>
        <div class="button-container">
            <a href="" class="btn btn-secondary" id="editBtn">Edit</a>
            <a href="" class="btn btn-danger" id="delBtn">Delete</a>
            <span class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="shareBtn" data-object-id="">
                <label class="form-check-label" for="shareBtn" id="sharelabel"></label>
            </span>
        </div>
    </div>
    
    <div class="sb-icon">
        <i class="fa-solid fa-list fa-2xl" style="color:white;" id="sbToggle"></i>
    </div>
    
    

    <div class="modal" tabindex="-1" role="dialog" id="confirmationPopup">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm Delete?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>please confirm to delete note.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="confirmDelete" data-object-id="">Confirm</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelDelete">Cancel</button>
            </div>
          </div>
        </div>
      </div>


</main>
<footer>
    {% block page_scripts %}
        <script src="{% static 'js/notes.js' %}"></script>
    {% endblock %}
</footer>

{% endblock%}