{% extends 'userbase.html' %}
{% load static %}
{% load active_link_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/notes.css' %}">
{% endblock %}

{% block body %}
<main>
    <div class="sb-cover">
        <div class="sidebar" id="sdb">
            <div class="resizer"></div>
            <div class="header">
                <h3 onClick="viewNote({{note.id}})">Notes</h3>
            </div>
            <div class="search-bar">
                <form action="{% url 'notes:userNoteSearch' %}" id="searchform" method="POST">
                    {% csrf_token %}
                    <input type="text" id="search-word" name="search_keyword">
                    <input type="submit" class="btn btn-primary" id="search-btn" value="Search">
                </form>
            </div>
            <a href="{% url 'notes:create_note' %}" class="cr-note badge" id="createNote">Create a new note</a> 
            <ul id="noteDisplUl">
                {% for note in notes %}
                    <li data-object-id="{{note.pk}}" class="snote badge">{{ note.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="dispEl-div">
        <p id="dispEl"></p>
    </div>
    <div class="sb-icon">
        <i class="fa-solid fa-list fa-2xl" style="color:white;" id="sbToggle"></i>
    </div> 
</main>
<footer>
    {% block page_scripts %}
        <script src="{% static 'js/notes.js' %}"></script>
    {% endblock %}
</footer>

{% endblock%}