<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertex HTML Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/specimen/Kumbh+Sans -->
    <link rel="stylesheet" href="fontawesome/css/all.min.css">  <!-- https://fontawesome.com/-->  
    <link rel="stylesheet" href="css/magnific-popup.css">       <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <link rel="stylesheet" href="css/tooplate-vertex.css">
</head>

<body>
    <!-- Nav -->
    <nav class="tm-nav">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <ul id="tm-main-nav">
            <li class="nav-item">
                <a href="#services" class="nav-link">
                    Services
                </a>
            </li>
            <li class="nav-item">
                <a href="#gallery" class="nav-link">
                    Gallery
                </a>
            </li>
        </ul>
    </nav>

    <!-- Content -->
    <main>
        <div id="intro" class="tm-section">
            <!-- Intro left -->
            <div class="tm-section-col tm-content">
                <div class="tm-media">
                    <img src="img/gallery/tn/img-11.jpg" alt="Intro image">
                    <div class="tm-media-body">
                        <h2><a href="#" class="tm-text-primary">Vertex is a Free CSS Template</a></h2>
                        <p class="tm-mb-20 tm-text-small">
                            This is a Responsive HTML5 Template brought to you by Tooplate for
                            100% free of charge. You can feel free to download, modify, and
                            use this layout for your websites.
                        </p>
                        <span class="tm-text-secondary tm-media-span tm-text-small">
                            Friday . 25 June 2021
                        </span>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>

                <div class="tm-media">
                    <img src="img/gallery/tn/img-11.jpg" alt="Intro image">
                    <div class="tm-media-body">
                        <h2><a href="#" class="tm-text-primary">Vertex is a Free CSS Template</a></h2>
                        <p class="tm-mb-20 tm-text-small">
                            This is a Responsive HTML5 Template brought to you by Tooplate for
                            100% free of charge. You can feel free to download, modify, and
                            use this layout for your websites.
                        </p>
                        <span class="tm-text-secondary tm-media-span tm-text-small">
                            Friday . 25 June 2021
                        </span>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>

                <div class="tm-media">
                    <img src="img/gallery/tn/img-11.jpg" alt="Intro image">
                    <div class="tm-media-body">
                        <h2><a href="#" class="tm-text-primary">Vertex is a Free CSS Template</a></h2>
                        <p class="tm-mb-20 tm-text-small">
                            This is a Responsive HTML5 Template brought to you by Tooplate for
                            100% free of charge. You can feel free to download, modify, and
                            use this layout for your websites.
                        </p>
                        <span class="tm-text-secondary tm-media-span tm-text-small">
                            Friday . 25 June 2021
                        </span>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>


                <div class="tm-text-right">
                    <a href="#services" class="tm-btn tm-btn-next">Next page</a>
                </div>   
                
            </div>
            
            <!-- Intro right -->
            <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="img/vertex-bg-01.jpg"></div>
        </div> <!-- #intro -->


    </main>
    <script src="js/plugins.js"></script>
    </script>
</body>
</html>