{% extends 'indexbase.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/shared_note_tut.css' %}">
{% endblock %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}


{% block body %}
<main>
    <div class="container">
        <h3 class="tm-media-body">Shared Tutorials</h3>
        <div class="form-section">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="enter topic" class="form-control" name="searchtuto" required>
                <input type="submit" value="Search" class="btn btn-primary">
                <a href="{% url 'userApp:sharedTutorials' %}">View All</a>
                {% if search_keyword %}
                    <p>Showing results for '{{search_keyword}}'</p>
                {% endif %}
            </form>
        </div>
        <div class="row">
            {% if tutorials %}
            {% for tutorial in tutorials %}
            <div class="col-lg-6">
                <div class="tm-media-body">
                    <h6><a href="#" class="tm-text-title">{{tutorial.title}}</a></h6>
                    <p class="tm-text-small">{{tutorial.short_descr}}</p>
                    
            
                    {% comment %} <div id="iframe-container">
                        <iframe id="content-iframe" src="{{tutorial.link}}" frameborder="0"  style="padding: 0;"></iframe>
                    </div> {% endcomment %}
            
                    <div class="content-iframe">
                        <a href="{{tutorial.link}}" target="_blank">{{tutorial.link}}</a>
                    </div>
            
                    <div class="tm-text-secondary tm-media-span tm-text-small">
                        <span class="tm-text-left">Created By: {{ tutorial.tutorial_owner }}</span>
                        <span class="tm-text-right">{{ tutorial.created_at }}</span>
                    </div>
                    
                    <hr class="tm-hr tm-mr">
                </div>
            </div>
            {% endfor %}
            {% elif search_keyword %}
            <p>0 results found for '{{search_keyword}}'</p>
            {% endif %}
        </div>


        <!-- paginator for shared tutorial--> 
        {% if tutorials.has_next %}
        <div class="tm-text-right">
            <a href="?page={{ tutorials.next_page_number }}" class="tm-btn tm-btn-next">Next</a>
        </div>
        {% endif %}
        {% if tutorials.has_previous %}
        <div class="tm-text-left">
        <a href="?page={{ tutorials.previous_page_number }}" class="tm-btn tm-btn-next">Previous</a>
        </div>
        {% endif %}
        <!-- paginator end --> 
    </div>
</main>





<script src="{% static 'js/togglebar-index.js' %}"></script>
{% endblock %}