{% extends 'userbase.html' %}
{% load static %}


{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
{% endblock %}


{% block body %}
    <main class="container">
        <div class="pri-Row">
            <ul>
                <li><a href="{% url 'toDo:allTasks' %}">All Tasks</a></li>
                <li><a href="{% url 'toDo:groupedTasks' %}">Group By Priority</a></li>
                <li><a href="{% url 'toDo:sortTaskAsc' %}">Sort By Date ↑</a></li>
                <li><a href="{% url 'toDo:sortTaskDesc' %}">Sort By Date ↓</a></li>
            </ul>
        </div>

        {% if alltasks %}
          <div>
            <h2>All Tasks</h2>
          </div>

          <div class="row td-displEl">
            {% for task in alltasks %}
              <div class="col-lg-4 task-card">
                  <div class="card{% include 'card_color.html' %}">
                      <div class="card-header">
                        <span class="title-txt">{{task.title}}</span>
                        <span class="priority-txt">Priority: {{task.priority}}</span>
                      </div>

                      <div class="card-body">
                        <p class="card-text">{{task.details}}</p>
                        <div class="cb-lower">
                            <div class="cb-bottom-left">
                                <div>
                                  <p class="card-text-due">Due date: {{task.due_date}}</p>
                                </div>
                                <div>
                                  <a href="#" class="btn btn-info">Edit</a>
                                  <a href="#" class="btn btn-danger">Delete</a>
                                  <a href="#" class="btn btn-success">Done</a>
                                </div>
                            </div>
                            <div class="cb-bottom-right">
                              <p> <span class="day-count">{{task.remaining_days}}</span><br>days remianing<p>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}


        {% if grouped_tasks %}
            {%if grouped_tasks.high_priority %}
                <div class="priority-section">
                  <h3>High Priority</h3>
                    <div class=" row td-displEl">
                      {% for task in grouped_tasks.high_priority %}
                        <div class="col-lg-4 task-card">
                            <div class="card{% include 'card_color.html' %}">
                                <div class="card-header">
                                  <span class="title-txt">{{task.title}}</span>
                                  <span class="priority-txt">Priority: {{task.priority}}</span>
                                </div>

                                <div class="card-body">
                                  <p class="card-text">{{task.details}}</p>
                                  <div class="cb-lower">
                                      <div class="cb-bottom-left">
                                          <div>
                                            <p class="card-text-due">Due date: {{task.due_date}}</p>
                                          </div>
                                          <div>
                                            <a href="#" class="btn btn-info">Edit</a>
                                            <a href="#" class="btn btn-danger">Delete</a>
                                            <a href="#" class="btn btn-success">Done</a>
                                          </div>
                                      </div>
                                      <div class="cb-bottom-right">
                                        <p> <span class="day-count">{{task.remaining_days}}</span><br>days remianing<p>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            
            {%if grouped_tasks.medium_priority %}
                <div class="priority-section">
                  <h3>Medium Priority</h3>
                    <div class=" row td-displEl">
                      {% for task in grouped_tasks.medium_priority %}
                        <div class="col-lg-4 task-card">
                            <div class="card{% include 'card_color.html' %}">
                                <div class="card-header">
                                  <span class="title-txt">{{task.title}}</span>
                                  <span class="priority-txt">Priority: {{task.priority}}</span>
                                </div>

                                <div class="card-body">
                                  <p class="card-text">{{task.details}}</p>
                                  <div class="cb-lower">
                                      <div class="cb-bottom-left">
                                          <div>
                                            <p class="card-text-due">Due date: {{task.due_date}}</p>
                                          </div>
                                          <div>
                                            <a href="#" class="btn btn-info">Edit</a>
                                            <a href="#" class="btn btn-danger">Delete</a>
                                            <a href="#" class="btn btn-success">Done</a>
                                          </div>
                                      </div>
                                      <div class="cb-bottom-right">
                                        <p> <span class="day-count">{{task.remaining_days}}</span><br>days remianing<p>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
              {% endif %}


              {%if grouped_tasks.low_priority %}
                  <div class="priority-section">
                    <h3>Low Priority</h3>
                      <div class=" row td-displEl">
                        {% for task in grouped_tasks.low_priority %}
                          <div class="col-lg-4 task-card">
                              <div class="card{% include 'card_color.html' %}">
                                  <div class="card-header">
                                    <span class="title-txt">{{task.title}}</span>
                                    <span class="priority-txt">Priority: {{task.priority}}</span>
                                  </div>

                                  <div class="card-body">
                                    <p class="card-text">{{task.details}}</p>
                                    <div class="cb-lower">
                                        <div class="cb-bottom-left">
                                            <div>
                                              <p class="card-text-due">Due date: {{task.due_date}}</p>
                                            </div>
                                            <div>
                                              <a href="#" class="btn btn-info">Edit</a>
                                              <a href="#" class="btn btn-danger">Delete</a>
                                              <a href="#" class="btn btn-success">Done</a>
                                            </div>
                                        </div>
                                        <div class="cb-bottom-right">
                                          <p> <span class="day-count">{{task.remaining_days}}</span><br>days remianing<p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          {% endfor %}
                      </div>
                  </div>
              {% endif %}
        {% endif %}

        

















    </main>
{% endblock  %}