{% load static %}
<div class="nav-600">
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
    </button>
    <a href="{% url 'notes:notes' %}"><li class="nav-item"><img src="{% static 'images/logo3.png' %}" id="logo-600"></li></a>
</div>

<nav class="tm-nav">
    <ul id="tm-main-nav" style="margin: 0;">
        {% url 'notes:notes' as notes %}
        {% url 'toDo:allTasks' as toDo %}
        {% url 'notes:tutorials' as tutorials %}
        {% url 'userApp:userSharedNotes' as userSharedNotes %}
        {% url 'userApp:userSharedTutorials' as userSharedTutorials %}

        <li class="nav-item"><a href="{% url 'notes:notes' %}"><img src="{% static 'images/logo3.png' %}" id="logo"></a></li>
        <li class="nav-item">
            <a href="{{notes}}" {% if request.path == notes %}class="active-nav"{% endif %} class="nav-link">
                Notes
            </a>
        </li>
        <li class="nav-item">
            <a href="{{toDo}}" {% if request.path == toDo %}class="active-nav"{% endif %} class="nav-link">
                ToDo Tasks
            </a>
        </li>
        <li class="nav-item">
            <a href="{{tutorials}}" {% if request.path == tutorials %}class="active-nav"{% endif %} class="nav-link">
                Tutorials
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'userApp:userSharedNotes' %}" {% if request.path == userSharedNotes %}class="active-nav"{% endif %} class="nav-link">
                Shared Notes
            </a>
        </li>
        <li class="nav-item">
            <a href="{{userSharedTutorials}}" {% if request.path == userSharedTutorials %}class="active-nav"{% endif %} class="nav-link">
                Shared Tutorials
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                Logout user
            </a>
        </li>
    </ul>
</nav>
