{% extends 'userbase.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'userindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
<main>
    <div class="container";>
        <h3 class="tm-media-body">Shared Notes</h3>
        <div class="form-section">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="enter topic" class="form-control" name="searchnote" required>
                <input type="submit" value="Search" class="btn btn-primary">
                <a href="{% url 'userApp:userSharedNotes' request.user %}">View All</a>
                {% if search_keyword %}
                    <p>Showing results for '{{search_keyword}}'</p>
                {% endif %}
            </form>
        </div>
        <div class="row">
            {% if notes %}
            {% for note in notes %}
            <div class="col-lg-6">
                <div class="tm-media">
                    <div class="tm-media-body">
                        <h6><a href="{% url 'userApp:viewNote' note.pk %}" class="tm-text-title">{{note.title}}</a></h6>
                        <div id="iframe-container">
                            <iframe id="iframe-content" frameborder="0" srcdoc="{{note.content}}" style="padding: 0;"></iframe>
                            <a id="iframe-href" href="{% url 'userApp:viewNote' note.pk %}"></a>
                        </div>
                        <div class="tm-text-secondary tm-media-span tm-text-small">
                            <span class="tm-text-left">Created By: {{ note.noteowner }}</span>
                            <span class="tm-text-right">{{ note.created_at }}</span>
                        </div>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>0 results found for '{{search_keyword}}'</p>
            {% endif %}
        </div>
    </div>

    <div class="container">

        <!-- paginator for shared noted -->  
        {% if notes.has_next %}
        <div class="tm-text-right">
            <a href="?page={{ notes.next_page_number }}" class="tm-btn tm-btn-next">Next</a>
        </div>
        {% endif %}
        {% if notes.has_previous %}
        <div class="tm-text-right">
            <a href="?page={{ notes.previous_page_number }}" class="tm-btn tm-btn-next">Previous</a>
        </div>
        {% endif %}
        <!-- paginator end --> 
        
    </div>

</main>

{% endblock %}