{% load static %}
<div class="container">
    <nav class="tm-nav">
        <div class="nav-600">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <a href="{% url 'userApp:index' %}"><li class="nav-item"><img src="{% static 'images/logo3.png' %}" id="logo-600"></li></a>
        </div>
        
        <ul id="tm-main-nav">
            <a href="{% url 'userApp:index' %}"><li class="nav-item"><img src="{% static 'images/logo3.png' %}" id="logo"></li></a>
            <li class="nav-item">
                <a href="{% url 'notes:notes' %}" class="nav-link">
                    Notes
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    ToDo Tasks
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Tutorials
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'userApp:sharedNotes' %}" class="nav-link">
                    Shared Notes
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'userApp:sharedTutorials' %}" class="nav-link">
                    Shared Tutorials
                </a>
            </li>
        </ul>
    </nav>
</div>